In [1]:
import pandas as pd
from pathlib import Path

In [25]:
data_to_load3 = Path("Data/202311-citibike-tripdata.csv")

In [26]:
my_data3 = pd.read_csv(data_to_load3)

C:\Users\jojo\AppData\Local\Temp\ipykernel_7736\166694692.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  my_data3 = pd.read_csv(data_to_load3)

In [27]:
my_data3.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,48878C314260EF1D,classic_bike,2023-11-03 17:48:21,2023-11-03 17:58:46,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,40.751107,-73.940873,40.761149,-73.917007,member
1,9E0E1583031239C4,classic_bike,2023-11-01 12:54:59,2023-11-01 13:05:23,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,40.751233,-73.940472,40.768974,-73.954823,member
2,FEBB9109BCB32647,classic_bike,2023-11-13 12:23:29,2023-11-13 12:27:28,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,40.807560,-73.939182,40.814490,-73.936153,member
3,6E5C8C2B6D45B195,classic_bike,2023-11-27 08:49:26,2023-11-27 09:03:35,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,40.782864,-73.971619,40.768974,-73.954823,member
4,29175CDCC2735F4E,classic_bike,2023-11-14 19:20:04,2023-11-14 20:35:12,8 Ave & W 33 St,6450.12,NaN,NaN,40.751657,-73.993607,40.780000,-73.970000,member

In [2]:
data_to_load1 = Path("Data/202309-citibike-tripdata.csv")

In [3]:
my_data1 = pd.read_csv(data_to_load1)

C:\Users\jojo\AppData\Local\Temp\ipykernel_7736\1064190428.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  my_data1 = pd.read_csv(data_to_load1)

In [4]:
my_data1.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,B0A0F1DEFA4B72FC,electric_bike,2023-09-03 10:20:41,2023-09-03 10:24:16,E 1 St & Bowery,5636.13,E 10 St & 2 Ave,5746.02,40.724861,-73.992131,40.729708,-73.986598,member
1,2B26AB15647BF4EE,classic_bike,2023-09-27 15:44:23,2023-09-27 15:53:25,Pearl St & Hanover Square,4993.02,Allen St & Rivington St,5414.06,40.704650,-74.009133,40.720196,-73.989978,member
2,9D2B5971CA4E513F,classic_bike,2023-09-19 13:40:48,2023-09-19 13:48:11,E 1 St & Bowery,5636.13,E 10 St & 2 Ave,5746.02,40.724753,-73.992116,40.729708,-73.986598,member
3,17E6760596DC3ABE,classic_bike,2023-09-30 16:27:50,2023-09-30 16:56:35,Central Ave & Himrod St,4713.01,Mott St & Prince St,5561.04,40.696706,-73.922935,40.723180,-73.994800,member
4,97EFF376A7E2DC70,classic_bike,2023-09-21 16:59:53,2023-09-21 17:07:36,St Marks Pl & 2 Ave,5669.10,Mott St & Prince St,5561.04,40.728419,-73.987140,40.723180,-73.994800,member

In [5]:
my_data1.describe

<bound method NDFrame.describe of                   ride_id  rideable_type           started_at  \
0        B0A0F1DEFA4B72FC  electric_bike  2023-09-03 10:20:41
1        2B26AB15647BF4EE   classic_bike  2023-09-27 15:44:23
2        9D2B5971CA4E513F   classic_bike  2023-09-19 13:40:48
3        17E6760596DC3ABE   classic_bike  2023-09-30 16:27:50
4        97EFF376A7E2DC70   classic_bike  2023-09-21 16:59:53
...                   ...            ...                  ...
3575157  472EFFA78D0FBCF2   classic_bike  2023-09-28 18:46:55
3575158  E986DA2AAB275937   classic_bike  2023-09-12 08:13:58
3575159  550CD10C7A00375E   classic_bike  2023-09-11 16:48:06
3575160  D4513B0A34BFD970   classic_bike  2023-09-07 07:42:11
3575161  12A14A1308892249   classic_bike  2023-09-22 13:04:02

                    ended_at           start_station_name start_station_id  \
0        2023-09-03 10:24:16              E 1 St & Bowery          5636.13
1        2023-09-27 15:53:25    Pearl St & Hanover Square          4993.02
2        2023-09-19 13:48:11              E 1 St & Bowery          5636.13
3        2023-09-30 16:56:35      Central Ave & Himrod St          4713.01
4        2023-09-21 17:07:36          St Marks Pl & 2 Ave          5669.10
...                      ...                          ...              ...
3575157  2023-09-28 18:59:28     Rogers Ave & Sterling St          3696.05
3575158  2023-09-12 08:24:03  Prospect Pl & Underhill Ave          4116.08
3575159  2023-09-11 17:04:33        E 56 St & Madison Ave          6732.01
3575160  2023-09-07 07:48:58              E 77 St & 3 Ave          7092.06
3575161  2023-09-22 13:12:25           Broadway & W 58 St          6948.10

                        end_station_name end_station_id  start_lat  start_lng  \
0                        E 10 St & 2 Ave        5746.02  40.724861 -73.992131
1                Allen St & Rivington St        5414.06  40.704650 -74.009133
2                        E 10 St & 2 Ave        5746.02  40.724753 -73.992116
3                    Mott St & Prince St        5561.04  40.696706 -73.922935
4                    Mott St & Prince St        5561.04  40.728419 -73.987140
...                                  ...            ...        ...        ...
3575157  West Drive & Prospect Park West        3651.04  40.663062 -73.953875
3575158        Flatbush Ave & Lincoln Rd         3593.1  40.676969 -73.965790
3575159                  E 22 St & 2 Ave        5971.09  40.761573 -73.972628
3575160                  E 48 St & 3 Ave        6541.03  40.773280 -73.958971
3575161                  6 Ave & W 45 St        6593.15  40.766953 -73.981693

           end_lat    end_lng member_casual
0        40.729708 -73.986598        member
1        40.720196 -73.989978        member
2        40.729708 -73.986598        member
3        40.723180 -73.994800        member
4        40.723180 -73.994800        member
...            ...        ...           ...
3575157  40.661063 -73.979453        member
3575158  40.661310 -73.960910        member
3575159  40.737169 -73.981225        member
3575160  40.754601 -73.971879        member
3575161  40.756951 -73.982631        member

[3575162 rows x 13 columns]>

In [6]:
my_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3575162 entries, 0 to 3575161
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 354.6+ MB

In [7]:
my_data1.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [8]:
my_data1.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [9]:
data_to_load2 = Path("Data/202310-citibike-tripdata.csv")

In [10]:
my_data2 = pd.read_csv(data_to_load2)

C:\Users\jojo\AppData\Local\Temp\ipykernel_7736\2635687966.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  my_data2 = pd.read_csv(data_to_load2)

In [11]:
my_data2.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F01D2D54E9E60D6E,classic_bike,2023-10-03 02:48:38,2023-10-03 02:48:40,Columbus Pl & Atlantic Ave,4146.02,Columbus Pl & Atlantic Ave,4146.02,40.677223,-73.922792,40.677170,-73.922850,casual
1,CAE4EDBEA07001BD,classic_bike,2023-10-11 16:03:17,2023-10-11 16:45:26,Central Park West & W 85 St,7354.01,Central Park West & W 85 St,7354.01,40.784760,-73.969862,40.784760,-73.969862,casual
2,FDC34BAD31193E07,classic_bike,2023-10-11 19:57:13,2023-10-11 20:20:10,Hicks St & Montague St,4645.09,5 St & 6 Ave,3874.01,40.694974,-73.995936,40.670484,-73.982090,casual
3,DFEA5E65AE91CE2A,classic_bike,2023-10-10 20:18:22,2023-10-10 20:18:37,Atlantic Ave & Furman St,4614.04,Atlantic Ave & Furman St,4614.04,40.691669,-74.000139,40.691652,-73.999979,casual
4,48299D8BE9B55255,classic_bike,2023-10-17 16:26:58,2023-10-17 16:34:27,E 41 St & Madison Ave (SE corner),6432.10,E 58 St & 3 Ave,6762.02,40.751845,-73.979585,40.760958,-73.967245,casual

In [29]:
my_data2.count()

ride_id               3823673
rideable_type         3823673
started_at            3823673
ended_at              3823673
start_station_name    3817887
start_station_id      3817887
end_station_name      3808655
end_station_id        3808655
start_lat             3823673
start_lng             3823673
end_lat               3821286
end_lng               3821286
member_casual         3823673
dtype: int64

In [30]:
my_data_merged1 = my_data2.append(my_data1,ignore_index=True)

C:\Users\jojo\AppData\Local\Temp\ipykernel_7736\3642600798.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_data_merged1 = my_data2.append(my_data1,ignore_index=True)

In [31]:
my_data_merged1.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F01D2D54E9E60D6E,classic_bike,2023-10-03 02:48:38,2023-10-03 02:48:40,Columbus Pl & Atlantic Ave,4146.02,Columbus Pl & Atlantic Ave,4146.02,40.677223,-73.922792,40.677170,-73.922850,casual
1,CAE4EDBEA07001BD,classic_bike,2023-10-11 16:03:17,2023-10-11 16:45:26,Central Park West & W 85 St,7354.01,Central Park West & W 85 St,7354.01,40.784760,-73.969862,40.784760,-73.969862,casual
2,FDC34BAD31193E07,classic_bike,2023-10-11 19:57:13,2023-10-11 20:20:10,Hicks St & Montague St,4645.09,5 St & 6 Ave,3874.01,40.694974,-73.995936,40.670484,-73.982090,casual
3,DFEA5E65AE91CE2A,classic_bike,2023-10-10 20:18:22,2023-10-10 20:18:37,Atlantic Ave & Furman St,4614.04,Atlantic Ave & Furman St,4614.04,40.691669,-74.000139,40.691652,-73.999979,casual
4,48299D8BE9B55255,classic_bike,2023-10-17 16:26:58,2023-10-17 16:34:27,E 41 St & Madison Ave (SE corner),6432.10,E 58 St & 3 Ave,6762.02,40.751845,-73.979585,40.760958,-73.967245,casual

In [32]:
my_data_merged = my_data_merged1.append(my_data3,ignore_index=True)

C:\Users\jojo\AppData\Local\Temp\ipykernel_7736\4009134015.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_data_merged = my_data_merged1.append(my_data3,ignore_index=True)

In [33]:
my_data_merged.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F01D2D54E9E60D6E,classic_bike,2023-10-03 02:48:38,2023-10-03 02:48:40,Columbus Pl & Atlantic Ave,4146.02,Columbus Pl & Atlantic Ave,4146.02,40.677223,-73.922792,40.677170,-73.922850,casual
1,CAE4EDBEA07001BD,classic_bike,2023-10-11 16:03:17,2023-10-11 16:45:26,Central Park West & W 85 St,7354.01,Central Park West & W 85 St,7354.01,40.784760,-73.969862,40.784760,-73.969862,casual
2,FDC34BAD31193E07,classic_bike,2023-10-11 19:57:13,2023-10-11 20:20:10,Hicks St & Montague St,4645.09,5 St & 6 Ave,3874.01,40.694974,-73.995936,40.670484,-73.982090,casual
3,DFEA5E65AE91CE2A,classic_bike,2023-10-10 20:18:22,2023-10-10 20:18:37,Atlantic Ave & Furman St,4614.04,Atlantic Ave & Furman St,4614.04,40.691669,-74.000139,40.691652,-73.999979,casual
4,48299D8BE9B55255,classic_bike,2023-10-17 16:26:58,2023-10-17 16:34:27,E 41 St & Madison Ave (SE corner),6432.10,E 58 St & 3 Ave,6762.02,40.751845,-73.979585,40.760958,-73.967245,casual

In [34]:
my_data_merged.count()

ride_id               10286572
rideable_type         10286572
started_at            10286572
ended_at              10286572
start_station_name    10275193
start_station_id      10275193
end_station_name      10247258
end_station_id        10247258
start_lat             10286572
start_lng             10286572
end_lat               10278890
end_lng               10278890
member_casual         10286572
dtype: int64

In [35]:
# Save the dataframe to a CSV file
my_data_merged.to_csv('Data/citibike.csv')